<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_cart_update_items_after">
        <observer name="save_item_comment_observer" instance="Fingent\ItemComment\Observer\SaveItemComment" />
    </event>
</config>